<section class="py-5"></section>
<section class="py-5 bg-dark" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black text-primary">Pricing</h2>
                <p class="text-muted lead" style="font-style: italic;">Choose Your Pricing Now</p>
            </div>
        </div>
        <div class="row pt-5 pricing-table">
            <div class="col-12 mx-auto">
                <div class="card-deck pricing-table">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">FREE</h3>
                            <h2 class="card-title text-primary mb-0 pt-4">Rp. 0</h2>
                            <div class="text-muted font-weight-medium mt-2">Unlimited</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Limit 500 / day</li>
                                <li>Reset Every Day</li>
                                <li>No expiration</li>
                            </ul>
                            <a href="/users/register" class="btn btn-primary">
                                Create your account
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Premium</h3>
                            <h2 class="card-title text-info mb-0 pt-4">Rp. 10.000</h2>
                            <div class="text-muted font-weight-medium mt-2">per Month</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Limit 9999 / day</li>
                                <li>Reset Every Day</li>
                                <li>Custom Apikey</li>
                                <li>1 Month Expiration</li>
                            </ul>
                            <a href="https://api.whatsapp.com/send/?phone=6282281237299&text&app_absent=0" class="btn btn-info">
                                Order Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>